.container{
  .container-data  {
      padding-top: 32px;
      padding-bottom: 32px;
  }
  .container-crud {
      text-align: center;
      padding-bottom: 24px;
  }

  .padding{
      margin-left: 8px;
      margin-right: 8px;
     margin-top: 8px;
  }

   .container-information {
       padding-top: 8px;
       padding-bottom: 8px;
   }

  .padding-add{
    margin-top: 16px;
   }

   .container-table{
       padding-top: 24px;
       padding-bottom: 24px;
   }
}